.skills {
    display: flex;
    flex-wrap: wrap;
  }

.skill {
    letter-spacing: 1px;
    padding: .7rem .7rem;
    margin-left: -2rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    background: #eee;
    color: #666;
    border-radius: 5px;
    font-weight: 400;
  }

/* Remove dots */
ul {
    list-style-type: none;
}

/* Remove toggle from dropdown button */
.caret-off::before {
  display: none !important;
}

.caret-off::after {
  display: none !important;
}

/* The best size for images to make them look better than a piece of shit */
.image-hq {
  --bs-aspect-ratio: 51%;
}

footer p {
  margin-bottom: 0px;
}
